<header>
  <div class="container">
    <div class="flex items-center justify-between pt-3">
      <div class="flex flex-col items-center gap-3 lg:flex-row">
        <a href="/">
          <picture>
            <source
              srcset="images/logo/logo-light_128x128.avif 1x, images/logo/logo-light_256x256.avif 2x"
              type="image/avif"
            />
            <source
              srcset="images/logo/logo-light_128x128.webp 1x, images/logo/logo-light_256x256.webp 2x"
              type="image/webp"
            />
            <img
              src="images/logo/logo-light_128x128.png"
              srcset="images/logo/logo-light_256x256.png 2x"
              alt="Дитяча школа мистецтв №5 Харківської міської ради"
              width="120"
              height="120"
              class="size-30 lg:size-25"
            />
          </picture>
        </a>
        <ul class="flex flex-col items-center lg:block">
          <li class="relative inline-block">
            <span class="relative inline-block text-2xl font-bold text-nowrap text-white lg:text-lg xl:text-3xl">
              Дитяча школа мистецтв №5
              <!-- SVG START -->
              <span class="absolute top-1/2 left-1/2 z-[-1] -translate-x-[calc(50%-50px)] -translate-y-1/2">
                <svg
                  class="lg:h-11.5 lg:w-157.5"
                  preserveAspectRatio="none"
                  viewBox="0 0 366 62.1"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    class="fill-rose-400"
                    d="m322.5 25.3c0 1.4 2.9 0.8 3.1 1.6 0.8 1.1-1.1 1.3-0.6 2.4 13.3 0.9 26.9 1.7 40.2 4-2.5 0.7-4.9 1.6-7.3 1.1-4-0.9-8.2-1-12.2-1.2-8.5-0.5-16.9-1.9-25.5-1.7h-3.1c2.6 0.6 4.8 0.4 5.7 2.2-7.3 0.4-14.1-0.8-21.2-1.1-0.2 0.6-0.5 1.2-0.8 1.8 21.3 0.7 42.5 1.6 64.3 4.6-4.2 1.6-7.7 1-10.8 0.8-6.8-0.5-13.5-1.3-20.3-1.9-0.9-0.1-2.3-0.1-2.9 0.2-2.2 1.6-4.3 0.6-7 0.4 1.4-1 2.5 0.5 3.9-0.8-5.6-1-10.7 0.6-15.9 0s-10.5-0.6-16.6-0.8c2 1.6 4.6 1.3 6.2 1.4 4.9 0 9.9 0.8 14.8 0.7 5.3-0.1 10.4 0.5 15.5 0.9 3.2 0.3 6.7-0.1 9.9-0.4 1.1-0.1 0.5 0.3 0.6 0.6 0.5 0.9 2.2 0.8 3.6 0.8 5.1-0.1 10.1 0.6 14.8 1.5 0.8 0.1 1.5 0 1.7 0.7 0 0.7-0.8 0.6-1.5 0.8-3.9 1.2-7.4-0.2-11.1-0.2-2 0-4.3-1.5-6 0.5-0.3 0.4-1.4 0.1-2.2-0.1-4.5-0.8-9.1-0.5-13.8-1.5-2.3-0.5-5.6 0.1-8.4 0.5-4 0.5-8-0.7-12.1-0.9-3.4-0.2-7.1-0.5-10.5-0.7-7.1-0.3-14.2-1.2-22.3-0.4 4.9 1.1 9.4 1.2 13.8 1.2 9.7 0 19.2 2.3 28.9 1.6 7.3 3.2 15.9 1.5 23.8 2.9 4.9 0.8 10.1 0.8 15.2 1.2 0.5 0 0.8 0.3 1.1 0.9-20-2.1-40.2-1.4-60.8-3 4.9 2.1 10.8-0.3 15.3 2.7-8 1.9-15.8-0.9-23.5-0.1 2.8 1.4 7.1 1.1 9.3 3.3 0.5 0.5 0.2 1.1-1.2 1.3 2.3 1 3.4-2.1 5.7-0.4 0.2-0.6 0.2-1 0.3-1.5 0.8-0.3 2 0.8 1.5 1.5-0.2 0.1 0 0.3 0 0.5 18.7 0.4 37.3 1.7 56.2 3.6-1.7 1.1-2.8 1.2-4.2 1.1-7.1-0.5-14.1-0.9-21.2-1.4-3.1-0.2-6.3-0.4-9.4-0.4-7.6-0.2-15-0.7-22.4-1-9-0.4-17.9-0.1-26.9-0.1-1.2 0-2.9-0.4-3.9 1 14.8 0.3 29.7 0.6 44.4 1.1 14.8 0.6 29.9 1.3 44.2 4.2-4.3 1-8.8 0.9-13 0.5-5.3-0.5-10.5-1.1-15.8-1.2-11.4-0.3-22.9-0.9-34.3-1.2-17.6-0.4-35.4-0.3-53.1-0.4-10.8-0.1-21.7-0.2-32.5 0-17.8 0.4-35.7 0.2-53.5 0.5-13.1 0.3-26.3 0.1-39.4 0.5-11.1 0.3-22.4 0.6-33.6 1-13.1 0.6-26.1 0.2-39.3 0.4-3.9 0.1-7.6 0.2-11.8-0.2 0.9-1.2 2.3-1.3 3.9-1.3 8.4 0.2 16.6-0.4 24.9-0.9 3.9-0.2 7.9-0.4 11.9 0.2 2.5 0.4 5.3-0.3 8-0.4 7.3-0.4 14.7-0.7 22-0.9 11.9-0.5 23.7-1.2 35.6-0.8 7.7 0.2 15.3-0.6 22.9-0.1 2.3 0.2 4.3-0.5 6.5-1h-17.6c-9.6 0-19-0.1-28.6 0-8 0.1-16.1 0.3-24 0.8-2.6 0.2-5.4 0.1-8.2 0.1-10.1 0.3-20.1 0.6-30.2 0.5-5.4 0-10.7-0.1-15.9 0.6-2.3 0.3-4-1.3-6.5-0.6 0.2 0.4 0.5 0.9 0.6 1.5-1.9 0-4 0.4-4.9-0.1-4.2-2.2-9.4-1.5-14.1-2.3-1.7-0.3-3.7-0.1-4.3-1.5-0.5-1.3 1.9-1.5 2.6-2.6-4.2-1.4-4.6-5-8.5-7.2-1.5 0.2-0.9 2.8-4.2 1.3 0.3 2.4 4.5 3.9 2.8 6.4-2.3 0.3-3.2-0.8-4.2-1.7-2.5-4-5.1-8.4-5.1-12.7 0.2-6.8 0.2-13.8 3.6-20.4 0.3-0.5 0.3-1 0.8-1.4 0.9-0.9 1.2-2.4 3.6-2.1 2.2 0.2 2.5 1.5 2.6 2.6 0.2 1.4 1.5 1.8 3.2 2.5 0.9-1.4 0.5-2.9 2.6-3.7 0.2-0.1 0.3-0.4 0.3-0.4-3.1-2.2 1.2-2.2 2.3-3.3-3.1-1.8-4-4.3-3.7-7-1.5-0.3-3.1-0.4-4.5 0-1.7 0.6-2.2-0.5-2.9-1 0.6-0.5 0.8-1.1 2.2-1.3 7.6-0.9 15.2-1.7 22.9-2 20-0.7 39.9-0.9 59.9-1 11.9-0.1 23.8 0.4 35.6 1.1 3.6 0.2 7.1-0.9 10.7-0.5 7.9 0.9 15.8 0.3 23.8 0.5 7.3 0.1 14.4-0.6 21.7-0.1 12.2 0.9 24.4 0.3 36.7 0.6 9.4 0.3 18.9 0.4 28.2 1 11.9 0.7 23.8 1.3 35.6 2 11.1 0.6 22.4 0.5 33.3 2 7.1 1 14.4 1.1 21.3 2.4 4 0.7 8.2 1.6 12.4 1.9 2.2 0.2 0.9 1 1.5 1.5-4-0.8-8-0.8-12.1-1.4-4.3-0.7-8.5-1-12.8 0.4-2.9 1-6.3 0.2-9.3-0.1-10.2-1.1-20.6-1.6-30.8-2.4-12.1-0.9-24.3-1.4-36.4-2.1-9.9-0.6-20-0.5-29.9-1-11.4-0.6-22.7 0-34.2-0.5-6.3-0.3-12.3-0.3-18.5-0.4-4.2-0.1-8.4 1.3-12.8 0.3 0.6 0.2 1.2 0.7 1.9 0.7 10.5 0 20.9 1.9 31.6 1.7 6.5-0.1 13.1 0.2 19.8 0.8 3.2 0.3 6.3-0.4 9.7-0.1 7.6 0.7 15.5 0.5 23 0.8 12.4 0.5 24.7 0.4 37.1 1.1 13.3 0.7 26.8 2.1 39.9 4.1 6.2 0.9 12.7 1.5 19.2 1.7 0.6 0 1.1 0.1 1.5 0.5-4.6 0.1-9.3 0-13.9-0.5-0.6 1.1 1.4 0.9 1.5 1.9-9.7 1.6-19.6-1.4-29.4-0.1 2.2 1.4 5.1 1 7.4 1 7.3 0.1 14.1 1.3 21.2 1.9 2.8 0.3 5.9 0 8.5 0.8 1.5 0.5 4.6-1.1 4.9 1.3 4-0.7 7.3 1.5 11.1 1.2 4-0.3 7.7 0.6 11.6 1.1 0.8 0.1 2.2 0.3 2.3 1.1 0.2 1-1.1 1.2-2 1.5-3.4 1-6.7-0.4-10.1-0.4-0.9 0-2-0.2-2.9-0.2-9.4 0.1-18.8-1.3-28.3-1.8-6-0.4-12.1-0.9-18.1-1.3 0 0.2 0 0.4-0.2 0.6 6.1 0.5 12.1 1.4 18.3 0.7z"
                  ></path>
                </svg>
              </span>
              <!-- SVG END -->
            </span>
          </li>
          <li class="mt-1">
            <span class="text-xl font-semibold lg:text-lg xl:text-xl">Харківської міської ради</span>
          </li>
        </ul>
      </div>
      <ul class="grid grid-cols-[auto_auto] place-items-start gap-x-7 gap-y-4 font-semibold">
        <li>
          <a href="tel:+380983763762" class="group flex w-fit items-center gap-1.5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-6 text-rose-500 opacity-80 group-hover:opacity-100"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"
              ></path>
            </svg>
            <span class="group-hover:opacity-80">+38 (098) 37-63-762</span>
          </a>
        </li>
        <li class="flex items-center gap-1.5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-6 text-rose-500 opacity-80"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"
            ></path>
            <circle cx="12" cy="10" r="3"></circle>
          </svg>
          <span>Харків, провулок Зерновий, 1, 61105</span>
        </li>
        <li>
          <a href="/" class="group flex items-center gap-1.5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-6 text-rose-500 opacity-80 group-hover:opacity-100"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"></path>
              <rect x="2" y="4" width="20" height="16" rx="2"></rect>
            </svg>
            <span class="group-hover:opacity-80">muz_shkola@i.ua</span>
          </a>
        </li>
        <li>
          <!-- Social Icons START -->
          <ul class="flex items-center gap-2">
            <li>
              <a href="/" aria-label="Facebook">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 hover:opacity-70"
                  fill="#7E5595"
                  viewBox="0 0 448 512"
                >
                  <path
                    fill="#1877f2"
                    d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"
                  ></path>
                </svg>
              </a>
            </li>
            <li>
              <a href="/" aria-label="Instagram">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 hover:opacity-70"
                  fill="#7E5595"
                  viewBox="0 0 448 512"
                >
                  <path
                    fill="#d33a95"
                    d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                  ></path>
                </svg>
              </a>
            </li>
            <li>
              <a href="/" aria-label="Telegram">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 hover:opacity-70"
                  fill="#7E5595"
                  viewBox="0 0 496 512"
                >
                  <path
                    fill="#3390ec"
                    d="M248,8C111.033,8,0,119.033,0,256S111.033,504,248,504,496,392.967,496,256,384.967,8,248,8ZM362.952,176.66c-3.732,39.215-19.881,134.378-28.1,178.3-3.476,18.584-10.322,24.816-16.948,25.425-14.4,1.326-25.338-9.517-39.287-18.661-21.827-14.308-34.158-23.215-55.346-37.177-24.485-16.135-8.612-25,5.342-39.5,3.652-3.793,67.107-61.51,68.335-66.746.153-.655.3-3.1-1.154-4.384s-3.59-.849-5.135-.5q-3.283.746-104.608,69.142-14.845,10.194-26.894,9.934c-8.855-.191-25.888-5.006-38.551-9.123-15.531-5.048-27.875-7.717-26.8-16.291q.84-6.7,18.45-13.7,108.446-47.248,144.628-62.3c68.872-28.647,83.183-33.623,92.511-33.789,2.052-.034,6.639.474,9.61,2.885a10.452,10.452,0,0,1,3.53,6.716A43.765,43.765,0,0,1,362.952,176.66Z"
                  ></path>
                </svg>
              </a>
            </li>
            <li>
              <a href="/" aria-label="Youtube">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 hover:opacity-70"
                  fill="#7E5595"
                  viewBox="0 0 576 512"
                >
                  <path
                    fill="#ff0000"
                    d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
                  ></path>
                </svg>
              </a>
            </li>
          </ul>
          <!-- Social Icons END -->
        </li>
      </ul>
    </div>
    <nav>
      <ul class="flex items-center gap-4 text-lg">
        <li>
          <a href="/" class="block py-6 text-lg font-semibold whitespace-nowrap text-rose-500">Головна</a>
        </li>
        <li>
          <div class="expand-hover-area group relative z-2">
            <a href="/" class="text-lg font-semibold whitespace-nowrap transition-colors hover:text-rose-500">
              <span class="inline-block align-middle">Про школу</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="inline-block size-4 align-middle"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="m6 9 6 6 6-6"></path>
              </svg>
            </a>
            <ul
              class="absolute top-full left-1/2 z-50 mt-2 hidden w-max -translate-x-1/2 rounded-xl border-2 border-t-2
                border-solid border-rose-500 bg-white font-semibold whitespace-nowrap shadow-lg transition-opacity
                duration-200 group-hover:block group-hover:opacity-100"
            >
              <li>
                <a href="/" class="block px-6 py-2 transition-colors hover:text-rose-500">Історія школи</a>
              </li>
              <li>
                <a href="/" class="block px-6 py-2 transition-colors hover:text-rose-500">Проєктна діяльність</a>
              </li>
              <li>
                <a href="/" class="block px-6 py-2 transition-colors hover:text-rose-500">Символіка школи</a>
              </li>
              <li>
                <a href="gallery.html" class="block px-6 py-2 transition-colors hover:text-rose-500">Галерея</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="expand-hover-area group relative z-3">
            <a href="/" class="text-lg font-semibold whitespace-nowrap transition-colors hover:text-rose-500">
              <span class="inline-block align-middle">Відділення</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="inline-block size-4 align-middle"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="m6 9 6 6 6-6"></path>
              </svg>
            </a>
            <ul
              class="absolute top-full left-1/2 z-50 mt-2 hidden w-max -translate-x-1/2 rounded-xl border-2 border-solid
                border-rose-500 bg-white font-semibold whitespace-nowrap opacity-0 shadow-lg transition-opacity
                duration-200 group-hover:block group-hover:opacity-100"
            >
              <li>
                <a href="music-department.html" class="block px-6 py-2 transition-colors hover:text-rose-500"
                  >Музичне відділення</a
                >
              </li>
              <li>
                <ul class="flex flex-col pl-3 lg:gap-1 lg:pl-6 lg:font-semibold">
                  <li>
                    <a href="piano-violin-department.html" class="block px-6 py-2 transition-colors hover:text-rose-500"
                      >Фортепіанно-струнний відділ</a
                    >
                  </li>
                  <li>
                    <a
                      href="folk-spiritual-department.html"
                      class="block px-6 py-2 transition-colors hover:text-rose-500">Народно-духовий відділ</a
                    >
                  </li>
                  <li>
                    <a href="vocal-choral-department.html" class="block px-6 py-2 transition-colors hover:text-rose-500"
                      >Вокально-хоровий відділ</a
                    >
                  </li>
                  <li>
                    <a href="music-theory-department.html" class="block px-6 py-2 transition-colors hover:text-rose-500"
                      >Музично-теоретичний відділ</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a href="painting-department.html" class="block px-6 py-2 transition-colors hover:text-rose-500"
                  >Художнє відділення</a
                >
              </li>
              <li>
                <a
                  href="theater-choreography-department.html"
                  class="block px-6 py-2 transition-colors hover:text-rose-500">Театрально-хореографічне відділення</a
                >
              </li>
              <li>
                <a
                  href="additional-services-department.html"
                  class="block px-6 py-2 transition-colors hover:text-rose-500">Додаткові освітні платні послуги</a
                >
              </li>
              <li>
                <a href="inclusion-department.html" class="block px-6 py-2 transition-colors hover:text-rose-500"
                  >Інклюзивна початкова мистецька освіта</a
                >
              </li>
              <li>
                <a href="psychology-department.html" class="block px-6 py-2 transition-colors hover:text-rose-500"
                  >Психолог</a
                >
              </li>
              <li>
                <a href="online-department.html" class="block px-6 py-2 transition-colors hover:text-rose-500"
                  >Дистанційне відділення</a
                >
              </li>
              <li>
                <a href="library-department.html" class="block px-6 py-2 transition-colors hover:text-rose-500"
                  >Бібліотека</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="expand-hover-area group relative z-2">
            <a href="/" class="text-lg font-semibold whitespace-nowrap transition-colors hover:text-rose-500">
              <span class="inline-block align-middle">Адміністрація</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="inline-block size-4 align-middle"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="m6 9 6 6 6-6"></path>
              </svg>
            </a>
            <ul
              class="absolute top-full left-1/2 z-50 mt-2 hidden w-max -translate-x-1/2 rounded-xl border-2 border-solid
                border-rose-500 bg-white font-semibold whitespace-nowrap opacity-0 shadow-lg transition-opacity
                duration-200 group-hover:block group-hover:opacity-100"
            >
              <li>
                <a href="music-department.html" class="block px-6 py-2 transition-colors hover:text-rose-500"
                  >Кравчук Оксана Вікторівна</a
                >
              </li>
              <li>
                <a href="painting-department.html" class="block px-6 py-2 transition-colors hover:text-rose-500"
                  >Новікова Тетяна Сергіївна</a
                >
              </li>
              <li>
                <a
                  href="theater-choreography-department.html"
                  class="block px-6 py-2 transition-colors hover:text-rose-500">Вініченко Марина Володимирівна</a
                >
              </li>
              <li>
                <a
                  href="additional-services-department.html"
                  class="block px-6 py-2 transition-colors hover:text-rose-500">Шугай Алевтина Олександрівна</a
                >
              </li>
              <li>
                <a href="inclusion-department.html" class="block px-6 py-2 transition-colors hover:text-rose-500"
                  >Бубнова Олена Володимирівна</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="expand-hover-area group relative z-3">
            <a href="/" class="text-lg font-semibold whitespace-nowrap transition-colors hover:text-rose-500">
              <span class="inline-block align-middle">Викладачі</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="inline-block size-4 align-middle"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="m6 9 6 6 6-6"></path>
              </svg>
            </a>
            <ul
              class="absolute top-full left-1/2 z-50 mt-2 hidden w-max -translate-x-1/2 rounded-xl border-2 border-solid
                border-rose-500 bg-white font-semibold whitespace-nowrap opacity-0 shadow-lg transition-opacity
                duration-200 group-hover:block group-hover:opacity-100"
            >
              <li>
                <a href="music-department.html" class="block px-6 py-2 transition-colors hover:text-rose-500"
                  >Музичне відділення</a
                >
              </li>
              <li>
                <ul class="flex flex-col pl-3 lg:gap-1 lg:pl-6 lg:font-semibold">
                  <li>
                    <a href="piano-violin-department.html" class="block px-6 py-2 transition-colors hover:text-rose-500"
                      >Фортепіанно-струнний відділ</a
                    >
                  </li>
                  <li>
                    <a
                      href="folk-spiritual-department.html"
                      class="block px-6 py-2 transition-colors hover:text-rose-500">Народно-духовий відділ</a
                    >
                  </li>
                  <li>
                    <a href="vocal-choral-department.html" class="block px-6 py-2 transition-colors hover:text-rose-500"
                      >Вокально-хоровий відділ</a
                    >
                  </li>
                  <li>
                    <a href="music-theory-department.html" class="block px-6 py-2 transition-colors hover:text-rose-500"
                      >Музично-теоретичний відділ</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a href="painting-department.html" class="block px-6 py-2 transition-colors hover:text-rose-500"
                  >Художнє відділення</a
                >
              </li>
              <li>
                <a
                  href="theater-choreography-department.html"
                  class="block px-6 py-2 transition-colors hover:text-rose-500">Театральний клас</a
                >
              </li>
              <li>
                <a
                  href="additional-services-department.html"
                  class="block px-6 py-2 transition-colors hover:text-rose-500">Хореографічний клас</a
                >
              </li>
              <li>
                <a href="inclusion-department.html" class="block px-6 py-2 transition-colors hover:text-rose-500"
                  >Інклюзивна початкова мистецька освіта</a
                >
              </li>
              <li>
                <a href="psychology-department.html" class="block px-6 py-2 transition-colors hover:text-rose-500"
                  >Психолог</a
                >
              </li>
              <li>
                <a href="library-department.html" class="block px-6 py-2 transition-colors hover:text-rose-500"
                  >Бібліотека</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="expand-hover-area group relative z-2">
            <a href="/" class="text-lg font-semibold whitespace-nowrap transition-colors hover:text-rose-500">
              <span class="inline-block align-middle">Корисна інформація</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="inline-block size-4 align-middle"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="m6 9 6 6 6-6"></path>
              </svg>
            </a>
            <ul
              class="absolute top-full left-1/2 z-50 mt-2 hidden w-max -translate-x-1/2 rounded-xl border-2 border-solid
                border-rose-500 bg-white font-semibold whitespace-nowrap opacity-0 shadow-lg transition-opacity
                duration-200 group-hover:block group-hover:opacity-100"
            >
              <li>
                <a href="music-department.html" class="block px-6 py-2 transition-colors hover:text-rose-500"
                  >Викладачам</a
                >
              </li>
              <li>
                <a href="painting-department.html" class="block px-6 py-2 transition-colors hover:text-rose-500"
                  >Батькам</a
                >
              </li>
              <li>
                <a
                  href="theater-choreography-department.html"
                  class="block px-6 py-2 transition-colors hover:text-rose-500">Нормативна база</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a href="/" class="text-lg font-semibold whitespace-nowrap transition-colors hover:text-rose-500">Новини</a>
        </li>
        <li>
          <a href="/" class="text-lg font-semibold whitespace-nowrap transition-colors hover:text-rose-500">Події</a>
        </li>
        <li>
          <a href="/" class="text-lg font-semibold whitespace-nowrap transition-colors hover:text-rose-500">Контакти</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
